 #loginPage {
     vertical-align: center;

     ::ng-deep .mat-form-field-wrapper {
         padding-bottom: 0px;

         &:hover {
             outline: none;
             ;
         }
     }

     ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
         padding: 4px 0px 10px 0px;
     }

     ::ng-deep .mat-form-field-subscript-wrapper {
         top: inherit;
     }

     .loading-spinner {
         text-align: center;

         ::ng-deep .mat-progress-spinner circle,
         .mat-spinner circle {
             stroke: #005e7f;
         }
     }

     .logo {
         margin: 20px 0px 40px 0px;
         background-color: white;
     }

     .login-btn {
         border-radius: 25px;
         padding: 0px 28px 0px 28px;
     }

     .login-form {
         width: 35%;
     }

     .signup-space {
         margin-top: 2%;
         font-family: Lato;
     }

     ::ng-deep .mat-progress-bar-fill::after {
         background-color: #005e7f;
     }

     ::ng-deep .mat-progress-bar-buffer {
         background: transparent;
     }

     ::ng-deep .mat-progress-bar {
         border-radius: 2px;
     }

     ::ng-deep .mat-progress-bar-background {
         fill: none;
     }
 }